@import './globals.css';
@import 'tailwindcss';

.no-cursor *,
.no-cursor *:hover,
.no-cursor *:active,
.no-cursor *:focus {
  cursor: none !important;
  caret-color: transparent !important;
  user-select: none !important;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  pointer-events: all !important;
  overflow: hidden;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

/* .tabs {
  background-color: var(--color-primary);
}
.tabs > button {
  background-color: var(--color-primary);
}
.tabs > button[data-state="active"] {
  background-color: var(--color-background);
} */

